.containerColor{ 

   margin-left: 45%;  
   margin-top: 15%; 

   
} 
#color-value{ 
font-size: 35px ;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

#button{ 
    border: black 1 px solid;
     margin-left: 5%;
      width: 155px;
      height: 100px; 
      color: blanchedalmond ;
      font-size: larger;
      font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      background-color: black; 
      border-radius: 3%;

      &:hover{ 
          background: none;
          border: none; 
          color: black;
      }
}
